@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.about-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.timeline-container {
  margin-bottom: 40px;

}
.timeline-container h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.achievements-container h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card {
  background:#A4C3A2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
 
}

.card:hover {
  transform: scale(1.05);
}
.card:hover p{
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
  animation: typing 2s steps(40, end); 
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .about-container {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .timeline-container h2,
  .achievements-container h2 {
    font-size: 20px;
  }

  .card {
    padding: 16px;
  }

  .card h3 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }
}
